# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\softpers\adminpanel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
